@import 'App.scss';

@mixin NavBg {
    color: $letrasHeader;
    background-image: url("../components/Header/images/fork.png"), linear-gradient(0deg, rgba(230, 103, 103, 0.05), rgba(230, 103, 103, 0.05)),
    linear-gradient(0deg, $header, $header); 
    background-repeat: repeat;
    background-size: 25px;
}

@mixin selectionn {
    color: white;
    background: $letrasHeader;
}

::-moz-selection { /* Code for Firefox */
    @include selectionn;
}

::selection {
    @include selectionn;
}

header{
    height: 200px;
    @include NavBg;
    .header__img{
        width: 125px;
        border: solid;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    @media screen and (max-width: 767px) {
        height: 150px;
        .header__img{
            width: 95px;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        height: 180px;
    }
}

.image__footer{
    width: 150px;
    border: solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    @media screen and (max-width: 767px) {
        width: 90px;
    }
}

.card__body{
    border: 1.5px solid $letrasHeader;
    &__text{
        color: $letrasHeader;
    }
    &__title{
        color: $letrasHeader;
        font-weight: bold;
    }
    &__star{
        color: #FFB930;
    }
}

.NavBar{
    height: 100px;
    @include NavBg;
    &__item{
        color: $letrasHeader;
    }
}

.NavBarMobile{
    @include NavBg;
}

.nav_link:hover {
    cursor: pointer;
    color: $letrasHeader;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}